html {
  /* Set a base font size for the page, so we can
  use relative units easily on different elements */
  font-size: 10px;
}

body {
  background-color: rgba(51, 135, 204,   .25);
}

nav {
  position: fixed;
  display:inline-flex;
  flex-flow: row;
  top: 0;
  left: 0;
  height: 40px;
  padding: 0 10px 0 50px;
  background-color: #333;
  opacity: .75;
  border-radius: 0 0 5em 0;
  overflow: hidden;
}

nav a {
  float: left;
  color: #fff;
  padding: .75em 1em .75em .5em;
  text-decoration: none;
  font-size: 1.6em;
}

header, main, footer {
  text-align: center;
}

h1 {
  color: hsl(0, 0%, 0%);
  font-size: 4em;
}

h2 {
  color: hsl(0, 0%, 20%);
  font-size: 2.5em;
}

h3 {
  color: hsl(0, 0%, 20%);
  font-size: 1.5em;
  margin: 0;
}

p {
  font-size: 2em;
}

header p, footer p {
  margin: 0;
}

hr {
  /* hr style from https://codepen.io/ibrahimjabbari/pen/ozinB (style 14) */
  width: 85%;
  border: 0;
  height: .2em;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #000, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #000, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #000, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #000, #f0f0f0);
}

a {
  color: hsl(0, 0%, 20%);
  font-weight: bolder;
  transition: color .25s;
}

a:hover {
  color: rgb(0, 0, 255);
}

figcaption {
  font-style: italic;
  font-size: .8em;
  text-align: center;
}

#tribute-info {
  display: flex;
  width: 80%;
  flex-direction: column;
  row-gap: 2em;
  margin: 2.5% 10% 2.5% 10%;
}

.extended-nav {
  display: inline-flex;
  flex-flow: column;
  text-align: center;
}

.item-box {
  display: inline-flex;
  align-items: center;
  flex-flow: row;
  height: min-content;
  font-size: 2em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: .5em .5em 1em .5em rgba(0, 0, 0, 0.25), -.5em .5em 1em .5em rgba(0, 0, 0, 0.25);
}

@media (max-width: 1200px) {
  .item-box {
    flex-flow: column;
  }
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .2em;
  max-width: 100%;
  height: auto;
  border-radius: 1.5em;
  cursor: pointer; /* Changes cursor to pointer when over images */
}

@media (min-width: 500px) {
  .image {
    max-width: 500px;
  }
}

.tribute-text {
  font-size: 1.5em;
  text-align: justify;
  margin: 0 5% 2.5% 5%;
}

@media (max-width: 500px) {
  .tribute-text {
    font-size: 1em;
  }
}

.tribute-text-block {
  display: flex;
  flex-flow: column;
}

.anim-rotate {
  animation: rotateIn 1s ease;
}

@keyframes rotateIn {
  0% {
      opacity: 0;
      transform: rotateY(180deg)
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.anim-slide {
  animation: slide-up 1s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}